@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
/* Noto Sans Kr  // font-family: 'Noto Sans KR', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
/* font-family: 'Fira Mono', monospace;
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#CSSViewer_block {
  color: black;
}

:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 1.6rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:root {
  --bg-page: #121212;
  --gap: 80px;
  --header: 10vh;
  --bg-element: #1e1e1e;
  --bg-menu: #2e2e2e;
  --black2: #1e1e1e;
  --width: 1100px;
  --bg-page2: #121212;
  --black3: #0c0c0c;
  --btn-color: #96f2d7;
  --btn-hover: #63e6be;
}

@media (min-width: 1400px) {
  :root {
    --width: 1300px;
    --gap: 100px;
  }
}
@media (max-width: 1100px) {
  :root {
    --width: 800px;
  }
}
@media (max-width: 832px) {
  :root {
    --width: 610px;
  }
}
@media (max-width: 640px) {
  :root {
    --width: 340px;
    --gap: 20px;
  }
  body {
    font-size: 1.4rem;
  }
}

@media (max-width: 375px) {
}

@media (min-width: 1400px) {
}
@media (max-width: 1100px) {
}
@media (max-width: 832px) {
}
@media (max-width: 640px) {
}
