body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-page);

  color: white;
}

body {
  --bg-page: #121212;
  --gap: 100px;

  --header: 10vh;
  --bg-element: #1e1e1e;
}

.app {
  width: 100vw;
}

@media screen and (max-width: 640px) {
  body {
    --gap: 20px;
  }
}
